{
    "linters": {
       "*.{js,css,scss}": [
            "npm run lint:fix",
            "npm run format",
            "git add"
        ],
        "src/**/*.js": ["jest --findRelatedTests"]
    }

}
